.App {
  text-align: center;
  padding: 5vw;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.avatar {
  width: 20px;
  height: 20px;
}

/* Material UI seems to favor a styling at the component level,
as their styles take precedence on any hierarchy. The need for '!important' for each custom style would be counter-productive. */

/* .search-field {
  border: 10px solid red !important;
  text-align: center !important;
} */
